<div class="order-detail">
  <div nz-row [nzGutter]="[16, 16]">
    <div nz-col nzSpan="24">
      <nz-card [nzLoading]="isLoading" [nzBodyStyle]="{ padding: '8px 12px' }" [nzBordered]="false">
        <h3>Đơn hàng #{{ order?.id }}</h3>
        <p class="order-date">Ngày đặt hàng: {{ order?.createdAt | date: 'hh:mm aaaa dd-MM-yyyy' }}</p>
      </nz-card>
    </div>

    <div nz-col nzSpan="24" *ngIf="order?.sellerNote">
      <nz-alert
        nzType="warning"
        nzMessage="Lưu ý từ người bán"
        [nzDescription]="order?.sellerNote"
        nzCloseable
        nzShowIcon
      >
      </nz-alert>
    </div>

    <div nz-col nzSm="12" nzXs="24">
      <nz-card [nzLoading]="isLoading" nzTitle="Giao Hàng" [nzBordered]="false">
        <div class="display-between">
          <h4>Tình trạng</h4>
          <nz-tag nzColor="{{ order?.shipping?.state | orderstate: true }}">
            {{ order?.shipping?.state | orderstate }}
          </nz-tag>
        </div>

        <div *ngIf="order?.shipping?.state === deliveryState.DELIVERED" class="display-between">
          <h4>Thời gian giao hàng</h4>
          <p>{{ order?.shipping?.deliveryDate | date: 'dd-MM-yyyy' }}</p>
        </div>

        <div class="display-between">
          <h4>Phương thức</h4>
          <p>{{ order?.shipping?.shippingMethod?.description }}</p>
        </div>

        <div class="display-between">
          <h4>Phí vận chuyển</h4>
          <p>{{ order?.shipping?.fee | price }}</p>
        </div>

        <div class="display-between" *ngIf="order?.shipping?.code">
          <h4>Mã vận chuyển</h4>
          <p>{{ order?.shipping?.code }}</p>
        </div>
      </nz-card>
    </div>

    <div nz-col nzSm="12" nzXs="24">
      <nz-card [nzLoading]="isLoading" nzTitle="Thanh Toán" [nzBordered]="false">
        <div class="display-between">
          <h4>Tình trạng</h4>
          <nz-tag nzColor="{{ order?.transaction?.state | orderstate: true }}">
            {{ order?.transaction?.state | orderstate }}
          </nz-tag>
        </div>

        <div class="display-between">
          <h4>Phương thức</h4>
          <p>{{ order?.transaction?.transactionMethod?.description }}</p>
        </div>
      </nz-card>
    </div>

    <div nz-col nzSpan="24">
      <nz-table
        #table
        [nzData]="order?.orderItems"
        [nzLoading]="isLoading"
        [nzFrontPagination]="false"
        [nzScroll]="{ x: '576px' }"
        [nzLoadingIndicator]="indicatorTemplate"
      >
        <thead>
          <tr>
            <th nzWidth="55%">Sản phẩm</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Tạm tính</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of table.data">
            <td id="title" *ngIf="data?.product; else deletedProduct">
              <a [routerLink]="['/san-pham', data?.product?.slug]">{{ data?.product?.title }}</a>
            </td>
            <ng-template #deletedProduct>
              <td id="title">{{ data?.productTitle }}</td>
            </ng-template>
            <td>{{ data?.totalValue / data?.quantity | price }}</td>
            <td>{{ data?.quantity }}</td>
            <td>{{ data?.totalValue | price }}</td>
          </tr>
        </tbody>
      </nz-table>
      <ng-template #indicatorTemplate><i nz-icon nzType="loading" class="loading"></i></ng-template>
    </div>

    <div nz-col nzSm="12" nzXs="24">
      <nz-card [nzLoading]="isLoading" nzTitle="Người Nhận" [nzBordered]="false">
        <div class="display-between">
          <h4>Họ tên</h4>
          <p>{{ order?.shipping?.name }}</p>
        </div>

        <div class="display-between">
          <h4>Địa chỉ</h4>
          <p>{{ order?.shipping?.address }}</p>
        </div>

        <div class="display-between">
          <h4>Số điện thoại</h4>
          <p>{{ order?.shipping?.phoneNumber }}</p>
        </div>
      </nz-card>
    </div>

    <div nz-col nzSm="12" nzXs="24">
      <nz-card [nzLoading]="isLoading" nzTitle="Tổng cộng" [nzBordered]="false" [nzActions]="[summary]">
        <div class="display-between">
          <h4>Tạm tính</h4>
          <p>
            {{ order?.transaction?.value - order?.shipping?.fee | price }}
          </p>
        </div>

        <div class="display-between">
          <h4>Phí vận chuyển</h4>
          <p>{{ order?.shipping?.fee | price }}</p>
        </div>
      </nz-card>
      <ng-template #summary>
        <div class="display-between summary">
          <h4>Tổng cộng</h4>
          <p>{{ order?.transaction?.value | price }}</p>
        </div>
      </ng-template>
    </div>
  </div>
</div>
