label {
  white-space: normal;
  display: block;
  line-height: 30px;
}

.cartItem-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartItem {
  flex: 1;
}

.cartItem-title {
  flex: 3;
}

.cartItem-price {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.summary-row {
  margin: 10px 0;
}

:host ::ng-deep .ant-descriptions-view {
  border-radius: 0;
}

:host ::ng-deep .ant-alert-message {
  font-size: 14px;
}

form {
  width: 100%;
}

.transaction-method-info {
  white-space: pre-wrap;
}

.price {
  color: #337ab7;
  font-size: 18px;
}

a {
  color: inherit;

  &:hover {
    color: #1890ff;
  }
}
