<app-cart-empty *ngIf="!cart?.totalQty && !success && !error"></app-cart-empty>
<app-order-success *ngIf="success" [orderId]="orderId"></app-order-success>
<app-order-error *ngIf="error"></app-order-error>

<div class="container" *ngIf="cart?.totalQty && !success && !error">
  <div nz-row [nzGutter]="[16, 16]">
    <div nz-col nzXl="16" nzMd="12" nzXs="24">
      <div nz-row [nzGutter]="[0,16]">
        <div nz-col nzSpan="24">
          <nz-card [nzLoading]="isLoading" nzTitle="Địa chỉ giao hàng" [nzBordered]="false" [nzExtra]="editShippingAdd">
            <nz-descriptions [nzColumn]="1">
              <nz-descriptions-item nzTitle="Họ tên">{{ order?.shipping.name }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Số điện thoại">{{ order?.shipping.phoneNumber }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Địa chỉ">{{ order?.shipping.address }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Lời nhắn">
                <span *ngIf="order?.buyerNote">{{ order?.buyerNote }}</span>
                <a *ngIf="!order?.buyerNote" (click)="showModal()">Thêm lời nhắn</a>
              </nz-descriptions-item>
            </nz-descriptions>
          </nz-card>
          <ng-template #editShippingAdd>
            <a (click)="showModal()"><i nz-icon nzType="edit" nzTheme="outline"></i> Thay đổi</a>
            <nz-modal nzTitle="Cập nhật địa chỉ giao hàng" [nzVisible]="isModalVisible" (nzOnCancel)="cancelModal()"
              [nzFooter]="modalFooter">
              <form nz-form [formGroup]="addressForm">
                <nz-form-item>
                  <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>Họ tên</nz-form-label>
                  <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Vui lòng nhập họ tên">
                    <input nz-input id="name" formControlName="name" />
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phone" nzRequired>Số điện thoại</nz-form-label>
                  <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Vui lòng nhập số điện thoại">
                    <input nz-input id="phone" formControlName="phoneNumber" type="tel" />
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="address" nzRequired>Địa chỉ</nz-form-label>
                  <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Vui lòng nhập địa chỉ">
                    <input nz-input id="address" formControlName="address" />
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="buyerNote">Lời nhắn</nz-form-label>
                  <nz-form-control [nzSm]="14" [nzXs]="24">
                    <input nz-input id="buyerNote" formControlName="buyerNote" placeholder="Lưu ý cho người bán" />
                  </nz-form-control>
                </nz-form-item>
              </form>
              <ng-template #modalFooter>
                <button nz-button nzType="default" (click)="cancelModal()">Hủy bỏ</button>
                <button nz-button nzType="primary" (click)="updateAddress()" [nzLoading]="isUpdateLoading"
                  [disabled]="addressForm.invalid || addressForm.pristine">Cập nhật</button>
              </ng-template>
            </nz-modal>
          </ng-template>
        </div>

        <div nz-col nzSpan="24">
          <nz-card [nzLoading]="isLoading" nzTitle="Hình thức giao hàng" [nzBordered]="false">
            <nz-radio-group [(ngModel)]="shippingRadioValue" (ngModelChange)="changeShippingMethod()">
              <ng-container *ngFor="let method of shippingMethods">
                <label nz-radio [nzValue]="method.name" [nzDisabled]="method.disabled">
                  <nz-tag nzColor="processing">{{ method.fee | price }}</nz-tag>
                  <span>{{ method.description }}</span>
                </label>
              </ng-container>
            </nz-radio-group>
            <nz-alert nzType="info" nzMessage="Phí giao hàng chính xác sẽ được cập nhật khi đơn hàng được xử lý"
              nzShowIcon></nz-alert>
          </nz-card>
        </div>

        <div nz-col nzSpan="24">
          <nz-card [nzLoading]="isLoading" nzTitle="Hình thức thanh toán" [nzBordered]="false">
            <nz-radio-group [(ngModel)]="transactionRadioValue" (ngModelChange)="changeTransactionMethod()">
              <ng-container *ngFor="let method of transactionMethods">
                <label nz-radio [nzValue]="method.name" [nzDisabled]="method.disabled">
                  {{ method.description }}
                  <nz-alert nzType="warning" *ngIf="method?.info" [nzMessage]="method?.info"></nz-alert>
                </label>
              </ng-container>
            </nz-radio-group>
          </nz-card>
        </div>
      </div>
    </div>

    <div nz-col nzXl="8" nzMd="12" nzXs="24">
      <div nz-row [nzGutter]="[0,16]">
        <div nz-col nzSpan="24">
          <nz-card [nzLoading]="isLoading" nzTitle="Sản phẩm" [nzBordered]="false" [nzExtra]="editOrder">
            <div class="item-wrapper" *ngFor="let item of cart?.cartItems">
              <div class="item-head">
                <a [routerLink]="['/products', item?.product.id]" class="item-img">
                  <img [src]="item?.product?.images[0]?.imgUrl" width="50" height="50"></a>
                <div class="item-main">
                  <a [routerLink]="['/products', item?.product.id]">
                    <h4>{{ item?.product.title }}</h4>
                  </a>
                  <span>Số lượng: {{ item?.quantity }}</span>
                </div>
              </div>
              <div class="price">{{ item?.quantity * item?.product.price | price }}</div>
            </div>
          </nz-card>
          <ng-template #editOrder>
            <a routerLink="/cart"><i nz-icon nzType="edit" nzTheme="outline"></i> Thay đổi</a>
          </ng-template>
        </div>

        <div nz-col nzSpan="24">
          <nz-card [nzLoading]="isLoading" nzTitle="Đơn hàng" [nzBordered]="false">
            <div nz-row nzJustify="space-between" class="summary-row">
              <div nz-col> <span>Tạm tính</span> </div>
              <div nz-col>
                <span class="summary-price price">{{ cart?.totalValue | price }}</span>
              </div>
            </div>

            <div nz-row nzJustify="space-between" class="summary-row">
              <div nz-col> <span>Giảm giá</span> </div>
              <div nz-col>
                <span class="summary-price price">{{ cart?.discountValue | price }}</span>
              </div>
            </div>

            <div nz-row nzJustify="space-between" class="summary-row">
              <div nz-col> <span>Phí vận chuyển</span> </div>
              <div nz-col>
                <span class="summary-price price">{{ cart?.shippingValue | price }}</span>
              </div>
            </div>

            <nz-divider></nz-divider>

            <div nz-row nzJustify="space-between" class="summary-row">
              <div nz-col> <span>Tổng cộng</span> </div>
              <div nz-col>
                <span
                  class="summary-price price">{{ cart?.totalValue - cart?.discountValue + cart?.shippingValue | price }}</span>
              </div>
            </div>
            <button nz-button nzType="primary" (click)="processOrder()" [nzLoading]="isProcessingOrder" nzBlock>
              Đặt hàng</button>
          </nz-card>
        </div>
      </div>
    </div>
  </div>
</div>