@font-face {
  font-family: "Poppins";
  src: url(./assets/fonts/Poppins-Medium.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url(./assets/fonts/Poppins-Medium-Italic.woff2) format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url(./assets/fonts/Poppins-SemiBold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url(./assets/fonts/Poppins-SemiBold-Italic.woff2) format("woff2");
  font-weight: bold;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

th {
  font-weight: bold !important;
  text-align: center !important;
}

td {
  text-align: center;
  vertical-align: middle;
}

.p-b-16 {
  padding-bottom: 16px;
}

.loading {
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10px;
}

.ant-page-header {
  padding: 0 !important;
}

.affix {
  position: absolute;
  right: 20px;

  .ant-affix {
    z-index: 9;
    max-height: calc(100vh - 16px);
    overflow-x: hidden;
    overflow-y: auto;
  }

  .ant-anchor-wrapper {
    background-color: transparent;
  }

  .ant-anchor {
    .ant-anchor-ink::before {
      width: 1px;
      border-left: 1px solid #dbdbdb;
    }

    .ant-anchor-link-active {
      border-left: 2px solid #1890ff;
      margin-left: -2px;
      position: relative;
      z-index: 2;
    }

    .ant-anchor-ink-ball.visible {
      display: none;
    }

    .ant-anchor-link {
      line-height: 2;

      &.ant-anchor-link-active {
        .ant-anchor-link-title {
          color: #1890ff;
        }
      }

      .ant-anchor-link-title {
        color: fade(#000, 85%);
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 110px;
      }
    }
  }
}

.twotone-btn {
  color: #40a9ff !important;
  border-color: #40a9ff !important;

  &:hover {
    color: white !important;
    background: #40a9ff !important;
  }
}
