nz-carousel {
  display: block;
  margin: auto;
}

nz-carousel,
.product-image {
  width: 400px;
  height: 400px;
}

@media (max-width: 576px) {
  nz-carousel,
  .product-image {
    width: 260px;
    height: 260px;
  }
}

.title {
  font-size: 30px;
  font-weight: bold;
  vertical-align: middle;
}

.badge {
  display: inline;
  color: #ffffff;
  padding: 0.4rem;
  margin-right: 10px;
}

.ant-divider-horizontal {
  margin: 0;
  margin-top: 12px;
  margin-bottom: 16px;
}

.price-wrapper {
  margin-bottom: 24px;
}

.price {
  color: #337ab7;
  margin-bottom: 0;
  padding: 0;
}

button {
  margin-top: 10px;
  margin-bottom: 5px;
}

.count {
  padding-left: 8px;
  cursor: auto;
}

:host ::ng-deep .ant-card-head-title {
  font-weight: bold;
}

.description {
  white-space: pre-wrap;
}
