nz-carousel {
  display: block;
  margin: auto;
}

nz-carousel,
.product-image {
  width: 385px;
  height: 550px;
}

@media (max-width: 576px) {
  .container {
    margin: 0;
    margin-bottom: 20px;
  }

  nz-carousel,
  .product-image {
    width: 270px;
    height: 390px;
  }
}

.title {
  font-size: 30px;
  font-weight: bold;
  vertical-align: middle;
}

.badge {
  display: inline;
  color: #ffffff;
  padding: 0.4rem;
  margin-right: 10px;
}

.ant-divider-horizontal {
  margin: 0;
  margin-top: 12px;
  margin-bottom: 16px;
}

.price-wrapper {
  margin-bottom: 24px;
}

.price {
  color: #337ab7;
  margin-bottom: 0;
  padding: 0;
}

.original-price {
  color: rgba(0, 0, 0, 0.65);
}

.btn {
  margin-top: 10px;
  margin-bottom: 5px;
}

.block-header {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 20px;
}

app-product {
  display: flex;
  width: inherit;
}

.count {
  padding-left: 8px;
  cursor: auto;
}
