<nz-card class="container">
  <app-category-breadcrumb [categories]="product?.category?.parents" [suffix]="product?.title">
  </app-category-breadcrumb>
</nz-card>

<nz-card class="container">
  <div nz-row [nzGutter]="[48, 32]">
    <div nz-col nzLg="12" nzXs="24">
      <nz-carousel [nzEnableSwipe]="true" [nzAutoPlay]="true">
        <div nz-carousel-content *ngFor="let image of product?.images">
          <img
            nz-image
            class="product-image"
            [nzSrc]="image?.imgUrl"
            [alt]="image?.imgName"
            nzPlaceholder="assets/images/placeholder.png"
            nzFallback="assets/images/placeholder.png"
            (load)="onLoadImage($event)"
          />
        </div>
      </nz-carousel>
    </div>

    <div nz-col nzLg="12" nzXs="24">
      <nz-skeleton [nzLoading]="isProductLoading" [nzActive]="true" [nzParagraph]="{ rows: 15 }">
        <div>
          <!-- <div class="badge item-new" *ngIf="product.new">New</div> -->
          <span class="title">{{ product?.title }}</span>
        </div>

        <nz-divider></nz-divider>

        <nz-alert
          nzType="info"
          nzShowIcon
          nzMessage="Miễn phí giao hàng cho đơn hàng từ {{ 500_000 | price }}"
        >
        </nz-alert>

        <div class="price-wrapper">
          <span class="price">{{ product?.price | price }}</span>
          <h3 *ngIf="product?.price !== product?.originalPrice">
            <del>{{ product?.originalPrice | price }}</del>
          </h3>
        </div>

        <nz-divider></nz-divider>

        <ng-container *ngIf="product?.status !== 'soldOut'; else outOfStock">
          <div nz-row>
            <div nz-col nzSpan="12">
              <h3>Số lượng</h3>
            </div>
            <div nz-col nzSpan="12">
              <nz-input-number
                [(ngModel)]="quantity"
                [nzMin]="minQty"
                [nzMax]="maxQty"
                [nzStep]="1"
              ></nz-input-number>
            </div>
          </div>

          <button nz-button nzType="dashed" nzBlock>
            <a href="tel:0984803198"><i nz-icon nzType="phone"></i> 0984.803.198</a>
          </button>
          <button
            nz-button
            nzBlock
            nzType="default"
            [nzLoading]="isBtnLoading.addToCart"
            (click)="addItemToCart('addToCart')"
            [disabled]="isBtnLoading.buyNow"
          >
            Thêm Vào Giỏ Hàng
          </button>
          <button
            nz-button
            nzBlock
            nzType="primary"
            [nzLoading]="isBtnLoading.buyNow"
            (click)="addItemToCart('buyNow')"
            [disabled]="isBtnLoading.addToCart"
          >
            Mua Ngay
          </button>
        </ng-container>
        <ng-template #outOfStock>
          <button nz-button nzType="default" nzBlock disabled>Hết hàng</button>
          <button nz-button nzType="primary" nzBlock>
            <a href="tel:0984803198"><i nz-icon nzType="phone"></i> 0984.803.198</a>
          </button>
        </ng-template>
      </nz-skeleton>
    </div>
  </div>
</nz-card>

<nz-card
  class="container"
  [nzLoading]="isProductLoading"
  nzTitle="Thông Tin Chi Tiết"
  *ngIf="product?.attributes?.length"
>
  <nz-descriptions nzBordered [nzColumn]="1" nzSize="middle">
    <nz-descriptions-item *ngFor="let attribute of product?.attributes" [nzTitle]="attribute?.name">
      <ng-container *ngFor="let attributeValue of attribute?.attributeValues">
        {{ attributeValue?.name }} <br />
      </ng-container>
    </nz-descriptions-item>
  </nz-descriptions>
</nz-card>

<nz-card class="container" [nzLoading]="isProductLoading" nzTitle="Mô Tả Sản Phẩm">
  <div class="description" [innerHTML]="product?.description"></div>
</nz-card>

<nz-card
  *ngIf="sameCategoryProducts?.length"
  class="container"
  nzTitle="Sản Phẩm Tương Tự"
  [nzBodyStyle]="relatedProductStyle"
  [nzLoading]="isProductLoading || isRelatedProductsLoading"
>
  <div nz-row>
    <div nz-col nzXl="4" nzLg="6" nzMd="8" nzXs="12" *ngFor="let product of sameCategoryProducts">
      <app-product [product]="product"></app-product>
    </div>
  </div>
</nz-card>
