<nz-page-header class="container" [nzGhost]="false">
  <nz-avatar nz-page-header-avatar nzSize="large" [nzSrc]="shop?.coverImgUrl"> </nz-avatar>

  <nz-page-header-title>{{ shop?.name }}</nz-page-header-title>

  <nz-page-header-subtitle>{{ shop?.description }}</nz-page-header-subtitle>

  <nz-page-header-extra>
    <app-search placeHolder="Tìm sản phẩm tại cửa hàng" (onSearch)="onSearch($event)"></app-search>
  </nz-page-header-extra>
</nz-page-header>

<app-collection
  [isLoading]="isLoading"
  [products]="products"
  [totalProducts]="totalProducts"
  [pageIndex]="pageIndex"
  [pageSize]="pageSize"
  (onPageChange)="onPageChange($event)"
  (onSortingChange)="onSortingChange($event)"
  (onPriceRangeChange)="onPriceRangeChange($event)"
></app-collection>
