.ant-descriptions,
.ant-card {
  margin-bottom: 20px;
}

.in-stock-icon {
  font-size: 20px;
}

.product-description {
  white-space: pre-wrap;
}

.product-image-container {
  display: inline-block;
  margin: 0 8px 8px 0;
  position: relative;
  padding: 8px;
  border: 1px solid #d9d9d9;
  border-radius: 16px;
  width: 200px;
  height: 200px;
}

.product-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
