nz-tree-select {
  width: 100%;
}

.form-item {
  margin-bottom: 24px;

  label {
    padding: 0 0 8px;
    color: rgba(0, 0, 0, 0.85);
  }

  .extra {
    color: rgba(0, 0, 0, 0.45);
    float: right;
    i {
      padding-left: 4px;
    }
  }

  nz-upload {
    display: block !important;
  }

  img {
    width: 100%;
    max-width: 500px;
    margin-top: 8px;
  }
}
