nz-tree-select {
  width: 100%;
}

.upload-form-item {
  .extra {
    float: right;
    i {
      padding-left: 4px;
    }
  }

  nz-upload {
    display: block !important;
    padding-top: 8px;
  }

  img {
    width: 100%;
    max-width: 500px;
    margin-top: 8px;
  }
}
