<nz-card [nzBordered]="false" [nzBodyStyle]="{ padding: '5px 10% 1px' }">
  <div nz-row nzJustify="space-between" nzAlign="middle">
    <div nz-col>
      <a routerLink="/"><embed src="assets/icons/logo.svg" alt="logo"></a>
    </div>

    <div nz-col class="hidden-lg">
      <app-left-menu [mode]="horizontalMode" [mobile]="false"></app-left-menu>
    </div>

    <div nz-col class="hidden-lg" [style.width.px]="260">
      <app-search></app-search>
    </div>

    <div nz-col class="hidden-lg">
      <app-right-menu [mode]="horizontalMode" [mobile]="false"></app-right-menu>
    </div>

    <div nz-col nzXl="0">
      <div nz-row nzAlign="middle">
        <div nz-col>
          <app-right-menu [mode]="horizontalMode" [mobile]="true"></app-right-menu>
        </div>

        <div nz-col>
          <button nz-button nzType="default" (click)="open()">
            <i nz-icon nzType="menu" nzTheme="outline"></i>
          </button>

          <nz-drawer nzTitle="Menu" [nzVisible]="visible" nzPlacement="right" nzWidth="100%" (nzOnClose)="close()">
            <ng-container *nzDrawerContent>
              <app-left-menu [mode]="verticalMode" [mobile]="true" (onNavigate)="close()"></app-left-menu>
              <app-right-menu [mode]="verticalMode" (onNavigate)="close()"></app-right-menu>
            </ng-container>
          </nz-drawer>
        </div>
      </div>
    </div>
  </div>
</nz-card>