<nav class="container">
  <div nz-row nzAlign="middle">
    <div nz-col [nzXs]="13" [nzLg]="4">
      <div class="logo">
        <a routerLink="/">Olym<span style="color:#337ab7">books.</span></a>
      </div>
    </div>

    <div nz-col [nzXs]="11" [nzLg]="20">
      <div nz-row nzAlign="middle" nzJustify="end">
        <div nz-col [nzXs]="0" [nzLg]="12">
          <app-left-menu [mode]="horizontalMode" [mobile]="false"></app-left-menu>
        </div>

        <div nz-col [nzXs]="0" [nzLg]="4">
          <app-search></app-search>
        </div>

        <div nz-col [nzXs]="0" [nzLg]="8">
          <app-right-menu [mode]="horizontalMode" [quantity]="quantity" [mobile]="false"></app-right-menu>
        </div>

        <div nz-col [nzLg]="0">
          <app-right-menu [mode]="horizontalMode" [quantity]="quantity" [mobile]="true">
          </app-right-menu>
        </div>

        <div nz-col [nzLg]="0">
          <button nz-button nzType="default" (click)="open()">
            <i nz-icon nzType="menu" nzTheme="outline"></i>
          </button>

          <nz-drawer [nzClosable]="false" [nzVisible]="visible" nzPlacement="right" nzTitle="Menu"
            (nzOnClose)="close()">
            <app-left-menu [mode]="verticalMode" [mobile]="true"></app-left-menu>
            <app-right-menu [mode]="verticalMode"></app-right-menu>
          </nz-drawer>
        </div>
      </div>
    </div>
  </div>
</nav>