h4 {
  display: inline;
  font-weight: bold;
}

.ant-btn {
  border: none;
}

.logo a {
  font-size: 1.47em;
  font-weight: 700;
  color: black;
}

@media (min-width: 1200px) {
  .ant-col-xl-8 {
    display: flex;
    justify-content: flex-end;
  }
}
