embed {
  pointer-events: none;
  height: 40px;
}

@media (max-width: 576px) {
  embed {
    height: 32px;
  }
}

h4 {
  display: inline;
  font-weight: bold;
  font-size: 1.47em;
}

.ant-btn {
  border: none;
}

@media (max-width: 1200px) {
  .hidden-lg {
    display: none;
  }
}

a {
  display: inline-block;
}
