<nz-card class="container" [nzLoading]="isLoading">
  <nz-breadcrumb nzSeparator=">">
    <nz-breadcrumb-item>
      <a routerLink="/"><i nz-icon nzType="home"></i></a>
    </nz-breadcrumb-item>

    <ng-container *ngFor="let item of category?.parent">
      <nz-breadcrumb-item>
        <a [routerLink]="['/', 'categories', item?.id]">{{ item?.title }}</a>
      </nz-breadcrumb-item>
    </ng-container>
  </nz-breadcrumb>
</nz-card>

<nz-card
  class="container"
  *ngIf="category?.children?.length"
  [nzLoading]="isLoading"
  [nzBodyStyle]="categoriesStyle"
>
  <div nz-row>
    <div nz-card-grid nz-col nzXl="3" nzLg="4" nzMd="6" nzXs="12" *ngFor="let item of category?.children">
      <app-category [category]="item"></app-category>
    </div>
  </div>
</nz-card>

<app-collection
  [isLoading]="isLoading"
  [products]="products"
  [totalProducts]="totalProducts"
  [pageIndex]="pageIndex"
  [pageSize]="pageSize"
  (onPageChange)="onPageChange($event)"
  (onSortingChange)="onSortingChange($event)"
  (onPriceRangeChange)="onPriceRangeChange($event)"
></app-collection>
