<div nz-row [nzGutter]="[16, 16]" class="p-b-16">
  <div nz-col>
    <nz-input-group [nzPrefix]="inputSearch" [nzSuffix]="inputClearById">
      <input #input type="number" nz-input placeholder="Tìm kiếm theo ID" [(ngModel)]="searchInputById"
             (keyup.enter)="onSearchById()">
    </nz-input-group>
  </div>

  <div nz-col>
    <nz-input-group [nzPrefix]="inputSearch" [nzSuffix]="inputClearByName">
      <input type="text" nz-input placeholder="Tìm kiếm theo Tên" [(ngModel)]="searchInputByName"
             (keyup.enter)="onSearchByName()">
    </nz-input-group>
  </div>
</div>

<nz-card [nzBodyStyle]="{ padding: 0 }">
  <nz-table #table [nzLoading]="isLoading" [nzLoadingIndicator]="loadingIndicator" [nzScroll]="{ x: '1150px' }"
            [nzData]="data" nzShowSizeChanger [nzFrontPagination]="false" [nzTotal]="total" [nzPageSize]="pageSize"
            [nzPageIndex]="pageIndex" (nzQueryParams)="onTableQueryParamsChange($event)">
    <thead>
      <tr>
        <th *ngFor="let column of columns" [nzSortFn]="column.sort" [nzColumnKey]="column.key">{{ column.title }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of table.data">
        <td>
          <nz-space>
            <nz-space-item>
              <button nz-button nzType="text" nz-tooltip nzTooltipTitle="Chi tiết khách hàng"
                      (click)="showDetailModal(customerModal, item)">
                <i nz-icon nzType="eye" theme="twotone"></i>
              </button>
            </nz-space-item>
          </nz-space>
        </td>
        <td>{{ item?.id }}</td>
        <td>{{ item?.name }}</td>
        <td>{{ item?.email }}</td>
        <td>{{ item?.address }}</td>
        <td>{{ item?.phoneNumber }}</td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>

<ng-template #inputSearch><i nz-icon nzType="search"></i></ng-template>
<ng-template #inputClearById><i nz-icon nzType="close-circle" class="ant-input-clear-icon" nzTheme="fill"
     *ngIf="searchInputById" (click)="searchInputById = null; onSearchById()"></i></ng-template>
<ng-template #inputClearByName><i nz-icon nzType="close-circle" class="ant-input-clear-icon" nzTheme="fill"
     *ngIf="searchInputByName" (click)="searchInputByName = null; onSearchByName()"></i></ng-template>
<ng-template #loadingIndicator><i nz-icon nzType="loading" class="loading"></i></ng-template>

<ng-template #customerModal let-customer>
  <nz-descriptions nzBordered [nzColumn]="1">
    <nz-descriptions-item nzTitle="Họ tên">{{ customer?.name }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Email">{{ customer?.email }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Địa chỉ">{{ customer?.address }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Số điện thoại">{{ customer?.phoneNumber }}</nz-descriptions-item>
  </nz-descriptions>
</ng-template>