<nz-table #table [nzData]="orders" [nzScroll]="{ x: '576px' }" [nzLoading]="isLoading"
  [nzLoadingIndicator]="indicatorTemplate" [nzHideOnSinglePage]="true">
  <thead>
    <tr>
      <th>Ngày mua</th>
      <th>Mã đơn hàng</th>
      <th nzWidth="40%">Sản phẩm</th>
      <th>Tổng tiền</th>
      <th>Trạng thái</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of table.data">
      <td>{{ data?.createdAt | date: 'dd/MM/yyyy' }}</td>
      <td><a [routerLink]="[data?.id]">{{ data?.id }}</a></td>
      <td id="title">
        <ng-container *ngFor="let item of data?.orderItems">
          {{ item?.product?.title }} <br />
        </ng-container>
      </td>
      <td>{{ data?.transaction?.value | price }}</td>
      <td class="tag">
        <nz-tag nzColor="{{ data?.state | state:true }}">{{ data?.state | state }}</nz-tag>
      </td>
    </tr>
  </tbody>
</nz-table>
<ng-template #indicatorTemplate><i nz-icon nzType="loading" class="loading"></i></ng-template>