<div nz-row [nzGutter]="[16, 16]" class="p-b-16">
  <div nz-col>
    <nz-input-group [nzPrefix]="inputSearch" [nzSuffix]="inputClearById">
      <input
        #input
        type="number"
        nz-input
        placeholder="Tìm kiếm theo ID"
        [(ngModel)]="searchInputById"
        (keyup.enter)="onSearchById()"
      />
    </nz-input-group>
  </div>
</div>

<nz-table
  #table
  nzOuterBordered
  nzShowSizeChanger
  [nzFrontPagination]="false"
  [nzLoading]="isLoading"
  [nzLoadingIndicator]="loadingIndicator"
  [nzScroll]="{ x: '1150px' }"
  [nzData]="data"
  [nzTotal]="total"
  [nzPageSize]="pageSize"
  [nzPageIndex]="pageIndex"
  (nzQueryParams)="onTableQueryParamsChange($event)"
>
  <thead>
    <tr>
      <th *ngFor="let column of columns" [nzSortFn]="column.sort" [nzColumnKey]="column.key">
        {{ column.title }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of table.data">
      <td>
        <nz-space>
          <button
            *nzSpaceItem
            nz-button
            nzType="text"
            nz-tooltip
            nzTooltipTitle="Chi tiết đơn hàng"
            (click)="showDetailModal(orderModal, item)"
          >
            <i nz-icon nzType="eye" theme="twotone"></i>
          </button>
        </nz-space>
      </td>
      <td>{{ item?.id }}</td>
      <!-- <td>{{ item?.shipping?.code }}</td> -->
      <td>{{ item?.createdAt | date: 'dd-MM-yyyy' }}</td>
      <td>
        <nz-space>
          <nz-tag nzColor="{{ item?.shipping?.state | orderState: true }}">
            {{ item?.shipping?.state | orderState }}
          </nz-tag>
          <nz-tag nzColor="default">
            {{ item?.shipping?.shippingMethod?.name }}
          </nz-tag>
        </nz-space>
      </td>
      <td>
        <nz-space>
          <nz-tag nzColor="{{ item?.transaction?.state | orderState: true }}">
            {{ item?.transaction?.state | orderState }}
          </nz-tag>
          <nz-tag nzColor="default">
            {{ item?.transaction?.transactionMethod?.name }}
          </nz-tag>
        </nz-space>
      </td>
      <td>{{ item?.shipping?.fee | price }}</td>
      <td>{{ item?.transaction?.value | price }}</td>
    </tr>
  </tbody>
</nz-table>

<ng-template #orderModal let-order>
  <nz-table
    #table
    nzOuterBordered
    [nzData]="order?.orderItems"
    [nzShowPagination]="false"
    [nzScroll]="{ x: '576px' }"
  >
    <thead>
      <tr>
        <th nzWidth="55%">Sản phẩm</th>
        <th>Giá</th>
        <th>Số lượng</th>
        <th>Tạm tính</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of table.data">
        <td id="title" *ngIf="item?.product; else deletedProduct">
          <a [routerLink]="['/products', item?.product?.id]">{{ item?.product?.title }}</a>
        </td>
        <ng-template #deletedProduct>
          <td id="title">{{ item?.productTitle }}</td>
        </ng-template>
        <td>{{ item?.totalValue / item?.quantity | price }}</td>
        <td>{{ item?.quantity }}</td>
        <td>{{ item?.totalValue | price }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colSpan="2"></td>
        <td><b>Tạm tính</b></td>
        <td>{{ order?.transaction?.value - order?.shipping?.fee | price }}</td>
      </tr>
      <tr>
        <td colSpan="2"></td>
        <td><b>Phí vận chuyển</b></td>
        <td>{{ order?.shipping?.fee | price }}</td>
      </tr>
      <tr>
        <td colSpan="2"></td>
        <td><b>Tổng cộng</b></td>
        <td>{{ order?.transaction?.value | price }}</td>
      </tr>
    </tfoot>
  </nz-table>

  <nz-descriptions nzTitle="Địa chỉ" nzBordered [nzColumn]="1">
    <nz-descriptions-item nzTitle="Họ tên">{{ order?.shipping?.name }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Địa chỉ">{{ order?.shipping?.address }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Số điện thoại">{{ order?.shipping?.phoneNumber }}</nz-descriptions-item>
  </nz-descriptions>

  <nz-descriptions nzTitle="Lời nhắn" nzBordered [nzColumn]="1">
    <nz-descriptions-item nzTitle="Của người mua">{{ order?.buyerNote }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Của người bán">{{ order?.sellerNote }}</nz-descriptions-item>
  </nz-descriptions>
</ng-template>
<ng-template #inputSearch><i nz-icon nzType="search"></i></ng-template>
<ng-template #inputClearById
  ><i
    nz-icon
    nzType="close-circle"
    class="ant-input-clear-icon"
    nzTheme="fill"
    *ngIf="searchInputById"
    (click)="searchInputById = null; onSearchById()"
  ></i
></ng-template>
<ng-template #loadingIndicator><i nz-icon nzType="loading" class="loading"></i></ng-template>
