<div nz-row [nzGutter]="[16, 16]" class="p-b-16">
  <div nz-col>
    <nz-input-group [nzPrefix]="inputSearch" [nzSuffix]="inputClearById">
      <input #input type="number" nz-input placeholder="Tìm kiếm theo ID" [(ngModel)]="searchInputById"
        (keyup.enter)="onSearch()">
    </nz-input-group>
  </div>
</div>

<nz-card [nzBodyStyle]="{ padding: 0 }">
  <nz-table #table [nzLoading]="isLoading" [nzLoadingIndicator]="loadingIndicator" [nzScroll]="{ x: '1150px' }"
    [nzData]="orders" nzShowSizeChanger [nzFrontPagination]="false" [nzTotal]="total" [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex" (nzQueryParams)="onTableQueryParamsChange($event)">
    <thead>
      <tr>
        <th *ngFor="let column of columns" [nzSortFn]="column.sort" [nzColumnKey]="column.key">{{ column.title }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of table.data">
        <td>
          <nz-space>
            <nz-space-item>
              <button nz-button nzType="primary" nzShape="circle" nz-tooltip nzTooltipTitle="Edit" nzGhost>
                <i nz-icon nzType="edit" theme="outline"></i>
              </button>
            </nz-space-item>
            <nz-space-item>
              <button nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="Delete" nzDanger>
                <i nz-icon nzType="delete" theme="outline"></i>
              </button>
            </nz-space-item>
          </nz-space>
        </td>
        <td>{{ item?.id }}</td>
        <td>{{ item?.createdAt | date: 'dd/MM/yyyy' }}</td>
        <td>
          <nz-tag nzColor="{{ item?.state | state:true }}">{{ item?.state | state }}</nz-tag>
        </td>
        <td>
          <ng-container *ngFor="let itm of item?.orderItems">
            {{ itm?.product?.title }} <br />
          </ng-container>
        </td>
        <td>
          <p>{{ item?.shipping?.address }}</p>
          <p>{{ item?.shipping?.phoneNumber }}</p>
        </td>
        <td>{{ item?.shipping?.shippingMethod?.description }}</td>
        <td>
          <p>{{ item?.transaction?.state | state }}</p>
          <p>{{ item?.transaction?.transactionMethod?.method }}</p>
        </td>
        <!-- <td>{{ 0 | price }}</td> -->
        <td>{{ item?.shipping?.shippingMethod?.fee | price }}</td>
        <td>{{ item?.transaction?.value | price }}</td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>

<ng-template #inputSearch><i nz-icon nzType="search"></i></ng-template>
<ng-template #inputClearById><i nz-icon nzType="close-circle" class="ant-input-clear-icon" nzTheme="fill"
    *ngIf="searchInputById" (click)="searchInputById = null; onSearch()"></i></ng-template>
<ng-template #loadingIndicator><i nz-icon nzType="loading" class="loading"></i></ng-template>