a {
  display: flex;
  width: inherit;
}

.ant-card {
  width: inherit;
  border-top: none;
}

.price {
  h3 {
    color: #337ab7;
    margin-bottom: 0;
  }
}

.original_price {
  text-decoration: line-through;
}
