<nz-layout class="app-layout">
  <nz-header>
    <div class="app-header">
    </div>
  </nz-header>
  <nz-content>
    <div class="inner-content">
      <nz-card nzTitle="Cửa hàng" [nzExtra]="createShopTemplate" [nzBordered]="false">
        <div class="list-shop">
          <div class="list-item" *ngFor="let shop of seller?.shops">
            <a [routerLink]="['/shops', shop?.id ]">
              <nz-card nzHoverable [nzCover]="coverTemplate">
                <nz-card-meta [nzTitle]="shop?.name" [nzDescription]="shop?.description"></nz-card-meta>
              </nz-card>

              <ng-template #coverTemplate>
                <img nz-image [alt]="shop?.name" [nzSrc]="shop?.coverImgUrl"
                     nzPlaceholder="assets/images/placeholder.png" nzFallback="assets/images/placeholder.png"
                     [nzDisablePreview]="true">
              </ng-template>
            </a>
          </div>
        </div>
      </nz-card>
      <ng-template #createShopTemplate>
        <button nz-button nzType="primary" (click)="showCreateShopModal()">
          <i nz-icon nzType="edit" nzTheme="outline"></i> Tạo mới
        </button>

        <nz-modal nzTitle="Tạo mới cửa hàng" [nzVisible]="isCreateShopModalVisible" (nzOnCancel)="hideCreateShopModal()"
                  [nzContent]="modalContent" [nzFooter]="modalFooter">
          <ng-template #modalContent>
            <form nz-form [formGroup]="shopForm">
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>Tên cửa hàng</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Vui lòng nhập tên cửa hàng">
                  <input nz-input id="name" formControlName="name" />
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="description" nzRequired>Mô tả</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Vui lòng nhập mô tả">
                  <input nz-input id="description" formControlName="description" type="tel" />
                </nz-form-control>
              </nz-form-item>
            </form>

            <nz-upload [(nzFileList)]="fileList" nzListType="picture" [nzAccept]="fileTypeLimit"
                       [nzFileType]="fileTypeLimit" [nzSize]="fileSizeLimit" [nzDisabled]="fileList.length >= 1"
                       [nzBeforeUpload]="beforeUpload">
              <button nz-button><i nz-icon nzType="upload"></i>Tải ảnh lên</button>
            </nz-upload>
          </ng-template>

          <ng-template #modalFooter>
            <button nz-button nzType="default" (click)="hideCreateShopModal()">Hủy bỏ</button>
            <button nz-button nzType="primary" (click)="createShop()" [nzLoading]="isCreateLoading"
                    [disabled]="shopForm.invalid || shopForm.pristine">Tạo mới</button>
          </ng-template>
        </nz-modal>
      </ng-template>
    </div>
  </nz-content>
</nz-layout>