.layout {
  min-height: 100vh;
}

nz-header {
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}

nz-content {
  margin: 24px;
}

.list-shop {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
}

.list-item {
  display: inline-block;
  margin: 20px;
  vertical-align: top;
  width: 180px;
}

.ant-card-meta {
  padding: 24px;
}

:host ::ng-deep .ant-card-meta-description {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ant-tag {
  width: 100%;
  text-align: center;
}
