<nz-carousel [nzEnableSwipe]="true" nzAutoPlay [nzAutoPlaySpeed]="3000">
  <div nz-carousel-content *ngFor="let item of items">
    <div class="slider-bg" style="background-image: url({{item}});"> </div>
  </div>
</nz-carousel>

<div nz-row class="banner">
  <div nz-col [nzXs]="24" [nzLg]="15" class="banner-child">
    <div class="banner-bg" style="background-image: url({{banner.left.img}});"> </div>
    <div class="banner-content"> <a routerLink="/"> {{banner.left.content}} </a></div>
  </div>

  <div nz-col [nzXs]="24" [nzLg]="9" class="banner-child">
    <div class="banner-bg" style="background-image: url({{banner.right.img}});"> </div>
    <div class="banner-content"> <a routerLink="/"> {{banner.right.content}} </a></div>
  </div>
</div>

<div class="container">
  <nz-page-header class="site-page-header" nzTitle="Categories"> </nz-page-header>

  <div nz-row nzJustify="center">
    <div nz-col class="ant-col-all" [nzXl]="4" [nzLg]="6" [nzMd]="8" [nzSm]="12" [nzXs]="24"
      *ngFor="let item of categories">
      <app-category [category]="item"></app-category>
    </div>
  </div>
</div>

<div class="container">
  <nz-page-header nzTitle="Hot Deals"> </nz-page-header>

  <div nz-row nzJustify="center">
    <div nz-col class="ant-col-all" [nzXl]="4" [nzLg]="6" [nzMd]="8" [nzSm]="12" [nzXs]="24"
      *ngFor="let item of hotDeals">
      <app-product [product]="item"></app-product>
    </div>
  </div>
</div>


<div class="container">
  <nz-page-header nzTitle="Recommendations"> </nz-page-header>

  <div nz-row nzJustify="center">
    <div nz-col class="ant-col-all" [nzXl]="4" [nzLg]="6" [nzMd]="8" [nzSm]="12" [nzXs]="24"
      *ngFor="let item of recommendations">
      <app-product [product]="item"></app-product>
    </div>
  </div>
</div>