<div class="container">
  <carousel #myCarousel="carousel" [images]="images" (events)="handleMyCarouselEvents($event)" [height]="300"
    objectFit='contain' [cellWidth]="'100%'" [autoplay]="true" autoplayInterval="4000" [dots]="true" [loop]="true"
    style="margin-bottom: 10px;">
  </carousel>

  <carousel #myCarouselThumbs="carousel" [height]="100" [cellsToShow]="images.length" [arrows]="false">
    <div class="carousel-cell" (click)="selectCarouselCell(i)" *ngFor="let image of images; let i = index">
      <img [src]="image.path">
    </div>
  </carousel>
</div>

<div nz-row class="banner-section" [nzGutter]="[16, 16]">
  <div nz-col nzLg="15" nzXs="24" class="banner">
    <div class="banner-image" style="background-image: url({{banner.left}})"></div>
  </div>

  <div nz-col nzLg="9" nzXs="24" class="banner">
    <a href="https://medium.com/olympicbooks" target="_blank">
      <div class="banner-image" style="background-image: url({{banner.right}})"></div>
    </a>
  </div>
</div>

<nz-card class="container" nzTitle="Danh mục sách" [nzBodyStyle]="cardStyle" [nzLoading]="isLoading">
  <div nz-row>
    <div nz-col nzXl="4" nzLg="6" nzMd="8" nzXs="12" *ngFor="let item of categories">
      <app-category [category]="item"></app-category>
    </div>
  </div>
</nz-card>

<nz-card class="container" nzTitle="Sách mới" [nzBodyStyle]="cardStyle" [nzLoading]="isLoading">
  <div nz-row>
    <div nz-col nzXl="4" nzLg="6" nzMd="8" nzXs="12" *ngFor="let item of newProducts">
      <app-product [product]="item"></app-product>
    </div>
  </div>
</nz-card>

<nz-card class="container" nzTitle="Sách bán chạy" [nzBodyStyle]="cardStyle" [nzLoading]="isLoading">
  <div nz-row>
    <div nz-col nzXl="4" nzLg="6" nzMd="8" nzXs="12" *ngFor="let item of topSellingProducts">
      <app-product [product]="item"></app-product>
    </div>
  </div>
</nz-card>