<nz-card [nzLoading]="isLoading" [nzTitle]="title" [nzExtra]="buttonGroup">
  <form nz-form nzLayout="vertical" [formGroup]="publisherForm">
    <nz-form-item *ngIf="!isNew">
      <nz-form-label nzFor="id">ID</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="id" type="text">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="name" nzRequired>Tên nhà xuất bản</nz-form-label>
      <nz-form-control nzErrorTip="Please input this field!">
        <input nz-input formControlName="name" type="text">
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>
<ng-template #title>
  <a routerLink="/publishers" class="go-back"><i nz-icon nzType="arrow-left" nzTheme="outline"></i></a>
</ng-template>
<ng-template #buttonGroup>
  <button nz-button nzType="primary" [nzLoading]="isBtnLoading" (click)="isNew ? create() : update()"
    [disabled]="publisherForm.invalid || publisherForm.pristine">Lưu</button>
</ng-template>