<nz-page-header [nzGhost]="false" nzBackIcon (nzBack)="goBack()">
  <nz-page-header-title *ngIf="isNew">Thêm mới nhà xuất bản</nz-page-header-title>
  <nz-page-header-title *ngIf="!isNew">Nhà xuất bản #{{ publisher?.id }}</nz-page-header-title>
  <nz-page-header-extra>
    <button
      nz-button
      nzType="primary"
      [nzLoading]="isBtnLoading"
      (click)="isNew ? create() : update()"
      [disabled]="publisherForm.invalid || publisherForm.pristine"
    >
      Lưu
    </button>
  </nz-page-header-extra>
</nz-page-header>

<nz-card [nzLoading]="isLoading">
  <form nz-form [formGroup]="publisherForm">
    <nz-form-item>
      <nz-form-label [nzMd]="6" [nzSm]="8" [nzXs]="24" nzFor="name" nzRequired>
        Tên nhà xuất bản
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input this field!">
        <input nz-input formControlName="name" type="text" />
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>
