<nav>
  <div nz-row>
    <div nz-col [nzXs]="{ span: 12 }" [nzLg]="{ span: 4, push:2 }">
      <div class="logo">
        <a href="">
          <img src="//laz-img-cdn.alicdn.com/images/ims-web/TB1T7K2d8Cw3KVjSZFuXXcAOpXa.png" width="50%"></a>
      </div>
    </div>

    <div nz-col [nzXs]="{ span: 12 }" [nzLg]="{ span: 20 }">
      <div nz-row>
        <div nz-col [nzLg]="{ span: 12, push: 2}" class="visible-lg">
          <app-left-menu [mode]="horiontalMode" [mobile]="false"></app-left-menu>
        </div>

        <div nz-col [nzLg]="{ span: 4}" class="visible-lg">
          <app-search></app-search>
        </div>

        <div nz-col [nzLg]="{ span: 4 , push:2}" class="visible-lg">
          <app-right-menu [mode]="horiontalMode" [quantity]="quantity" [mobile]="false"></app-right-menu>
        </div>

        <div nz-col [nzXs]="{ span: 16}" class="hidden-lg">
          <app-right-menu [mode]="horiontalMode" [quantity]="quantity" [mobile]="true">
          </app-right-menu>
        </div>

        <div nz-col [nzXs]="{ span: 8}" class="hidden-lg">
          <button nz-button nzType="default" (click)="open()">
            <i nz-icon nzType="menu" nzTheme="outline"></i>
          </button>

          <nz-drawer [nzClosable]="false" [nzVisible]="visible" nzPlacement="right" nzTitle="Menu"
            (nzOnClose)="close()">
            <app-left-menu [mode]="verticalMode" [mobile]="true"></app-left-menu>
            <app-right-menu [mode]="verticalMode"></app-right-menu>
          </nz-drawer>
        </div>
      </div>

    </div>
  </div>
</nav>
