nz-layout {
  position: relative;
}

app-header {
  position: fixed;
  width: 100%;
  overflow-x: hidden;
  z-index: 1;
}

nz-content {
  margin-top: 60px;
  min-height: calc(100vh - 60px);
}

app-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
