nz-layout {
  min-height: 100vh;
}

app-header {
  position: fixed;
  width: 100%;
  overflow-x: hidden;
  z-index: 1;
}

nz-content {
  margin-top: 60px;
}

:host ::ng-deep .zalo-chat-widget {
  bottom: 90px !important;
  right: 20px !important;
}
