<div nz-row [nzGutter]="[16, 16]" class="p-b-16">
  <div nz-col>
    <nz-input-group [nzPrefix]="inputSearch" [nzSuffix]="inputClearById">
      <input
        #input
        type="number"
        nz-input
        placeholder="Tìm kiếm theo ID"
        [(ngModel)]="searchInputById"
        (keyup.enter)="onSearchById()"
      />
    </nz-input-group>
  </div>

  <div nz-col>
    <nz-input-group [nzPrefix]="inputSearch" [nzSuffix]="inputClearByName">
      <input
        type="text"
        nz-input
        placeholder="Tìm kiếm theo Tên"
        [(ngModel)]="searchInputByName"
        (keyup.enter)="onSearchByName()"
      />
    </nz-input-group>
  </div>
</div>

<nz-table
  #table
  nzOuterBordered
  nzShowSizeChanger
  [nzLoading]="isLoading"
  [nzLoadingIndicator]="loadingIndicator"
  [nzScroll]="{ x: '1150px' }"
  [nzFrontPagination]="false"
  [nzData]="data"
  [nzTotal]="total"
  [nzPageIndex]="pageIndex"
  [nzPageSize]="pageSize"
  (nzQueryParams)="onTableQueryParamsChange($event)"
>
  <thead>
    <tr>
      <th
        *ngFor="let column of columns"
        [nzSortFn]="column.sort"
        [nzColumnKey]="column.key"
        [nzWidth]="column.width"
      >
        {{ column.title }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of table.data">
      <td>
        <nz-space>
          <button
            *nzSpaceItem
            nz-button
            nzType="text"
            nz-tooltip
            nzTooltipTitle="Chi tiết cửa hàng"
            (click)="showDetailModal(shopModal, item)"
          >
            <i nz-icon nzType="eye" theme="twotone"></i>
          </button>
          <button
            *nzSpaceItem
            nz-button
            nzType="text"
            nz-tooltip
            nzTooltipTitle="Edit"
            [routerLink]="item?.id"
          >
            <i nz-icon nzType="edit" theme="twotone"></i>
          </button>
        </nz-space>
      </td>
      <td>{{ item?.id }}</td>
      <td>{{ item?.name }}</td>
      <td>{{ item?.description }}</td>
      <td>{{ item?.sellers?.length }}</td>
      <td>
        <nz-tag nzColor="{{ item?.status | shopstatus: true }}">
          {{ item?.status | shopstatus }}
        </nz-tag>
      </td>
    </tr>
  </tbody>
</nz-table>

<ng-template #inputSearch><i nz-icon nzType="search"></i></ng-template>

<ng-template #inputClearById>
  <i
    nz-icon
    nzType="close-circle"
    class="ant-input-clear-icon"
    nzTheme="fill"
    *ngIf="searchInputById"
    (click)="searchInputById = null; onSearchById()"
  >
  </i>
</ng-template>

<ng-template #inputClearByName>
  <i
    nz-icon
    nzType="close-circle"
    class="ant-input-clear-icon"
    nzTheme="fill"
    *ngIf="searchInputByName"
    (click)="searchInputByName = null; onSearchByName()"
  >
  </i>
</ng-template>

<ng-template #loadingIndicator><i nz-icon nzType="loading" class="loading"></i></ng-template>

<ng-template #shopModal let-shop>
  <nz-descriptions nzBordered [nzColumn]="1">
    <nz-descriptions-item nzTitle="Tên">{{ shop?.name }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Mô tả">{{ shop?.description }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Nhà bán">
      <ng-container *ngFor="let seller of shop?.sellers">{{ seller.name }} <br /></ng-container>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Trạng thái">
      <nz-tag nzColor="{{ shop?.status | shopstatus: true }}">
        {{ shop?.status | shopstatus }}
      </nz-tag>
    </nz-descriptions-item>
  </nz-descriptions>
</ng-template>
