<a routerLink="/products/{{ product.id }}">
  <nz-card nzHoverable [nzCover]="coverTemplate" [nzLoading]="isLoading">
    <p>{{ product.title | slice:0:maxLength }}{{ product.title.length > maxLength ? '...' : '' }}</p>
    <h3 class="price"> {{ product.price | price }} </h3>
    <span *ngIf="product.price !== product.originalPrice"><del>{{ product.originalPrice | price }}</del></span>
  </nz-card>

  <ng-template #coverTemplate>
    <img [src]="product.images[0].url" loading="lazy" (load)="onLoadImage($event)" />
  </ng-template>

  <!-- <div class="item-extra item-new" *ngIf="product.new && !isLoading">New</div>
  <div class="item-extra item-hot" *ngIf="product.hot && !isLoading">Hot</div>
  <div class="item-extra item-sale" *ngIf="product.sale && !isLoading">Sale</div> -->
</a>