<nz-page-header [nzGhost]="false" nzBackIcon (nzBack)="goBack()">
  <nz-page-header-title>{{ product?.title }}</nz-page-header-title>
  <nz-page-header-extra>
    <button
      nz-button
      nzType="primary"
      [nzLoading]="isBtnLoading"
      [disabled]="productForm.invalid || productForm.pristine"
      (click)="update()"
    >
      Lưu
    </button>
  </nz-page-header-extra>
</nz-page-header>

<nz-card [nzLoading]="isLoading">
  <form nz-form [formGroup]="productForm">
    <nz-form-item>
      <nz-form-label [nzMd]="6" [nzSm]="8" [nzXs]="24" nzFor="status" nzRequired>Trạng thái</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input this field!">
        <nz-select nzShowSearch nzAllowClear formControlName="status">
          <nz-option
            *ngFor="let status of productStatus | keyvalue"
            [nzLabel]="status.value | productstatus"
            [nzValue]="status.value"
          >
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>
