.container {
  padding-right: 170px;
}

nz-card {
  margin-top: 16px;
}

nz-divider {
  margin: 4px 0;
}

.input-container {
  display: flex;
  flex-wrap: nowrap;
  padding: 8px;
}

.add-attribute-value-btn {
  display: block;
  flex: 0 0 auto;
  padding: 8px;
}
