<nz-card>
  <h2>Log In</h2>
  <form nz-form [formGroup]="loginForm" nzLayout="vertical" (ngSubmit)="submitForm(loginForm.value)">
    <nz-form-item>
      <nz-form-label nzRequired nzFor="userName">Username</nz-form-label>
      <nz-form-control nzErrorTip="Please input your username!">
        <nz-input-group [nzPrefix]="prefixUser">
          <input type="text" nz-input formControlName="userName" placeholder="Username" id="userName">
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="authentication-form-password">
      <nz-form-label nzRequired nzFor="password">Password</nz-form-label>
      <a class="authentication-form-forgot" [routerLink]="['/login']">Forgot password?</a>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group [nzPrefix]="prefixPassword">
          <input type="password" nz-input formControlName="password" placeholder="Password" id="password">
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <div class="authentication-form-button-wrapper">
          <span>Don't have an account? <a [routerLink]="['/signup']"> Signup</a> </span>
          <button nz-button [nzType]="'primary'" [disabled]="!loginForm.valid">Sign In</button>
        </div>
      </nz-form-control>
    </nz-form-item>
  </form>
  <ng-template #prefixUser><i nz-icon nzType="user" nzTheme="outline"></i></ng-template>
  <ng-template #prefixPassword><i nz-icon nzType="lock" nzTheme="outline"></i></ng-template>
</nz-card>