<ul nz-menu [nzMode]="mode" [nzSelectable]="false" (nzClick)="onClick()">
  <app-search *ngIf="mobile"></app-search>

  <li nz-submenu nzTitle="Danh mục sách" nzIcon="book">
    <ul>
      <li nz-submenu nzTitle="Sách Khoa Học">
        <ul>
          <li nz-menu-item nzMatchRouter><a routerLink="/categories/1">Sách Vật Lý</a></li>
          <li nz-menu-item nzMatchRouter><a routerLink="/categories/2">Sách Toán Học</a></li>
        </ul>
      </li>

      <li nz-submenu nzTitle="Sách Ngoại Ngữ">
        <ul>
          <li nz-menu-item nzMatchRouter><a routerLink="/categories/3">Sách Tiếng Anh</a></li>
          <li nz-menu-item nzMatchRouter><a routerLink="/categories/4">Sách Tiếng Pháp</a></li>
        </ul>
      </li>
    </ul>
  </li>

  <li nz-menu-item nzMatchRouter>
    <a routerLink="/community"> <i nz-icon nzType="team" nzTheme="outline"></i>Cộng đồng</a></li>

  <li nz-menu-item nzMatchRouter>
    <a routerLink="/contact"><i nz-icon nzType="comment" nzTheme="outline"></i>Liên hệ</a></li>
</ul>