<ul nz-menu [nzMode]="mode" [nzSelectable]="false" (nzClick)="onClick()">
  <ng-container *ngIf="(mode === 'horizontal' && mobile) || (mode === 'horizontal' && !mobile)">
    <li nz-menu-item nzMatchRouter>
      <a routerLink="/checkout/cart"><i nz-icon nzType="shopping-cart" nzTheme="outline"></i>({{quantity}})</a></li>
  </ng-container>

  <ng-container *ngIf="(mode === 'inline') || (mode === 'horizontal' && !mobile)">
    <li nz-submenu nzTitle="Tài Khoản" nzIcon="user">
      <ul>
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/login"><i nz-icon nzType="login" nzTheme="outline"></i>Đăng nhập</a></li>
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/signup"><i nz-icon nzType="logout" nzTheme="outline"></i>Đăng ký</a></li>
      </ul>
    </li>
  </ng-container>
</ul>