.ant-menu-horizontal {
  border-bottom: none;
}

.ant-menu-inline {
  border-right: none;
}

.ant-menu-item,
.ant-menu-submenu {
  font-weight: bold;
}

.ant-menu-item {
  padding: 0 10px;
}

.anticon-shopping-cart {
  font-size: 20px;
}

::ng-deep .cdk-overlay-pane {
  .ant-menu-submenu-popup {
    width: fit-content !important;
  }
}

a {
  color: rgba(0, 0, 0, 0.85);
  width: auto !important;
}
