.ant-menu-horizontal {
  border-bottom: none;
}

.ant-menu-inline {
  border-right: none;
}

.anticon-shopping-cart {
  font-size: 20px;
}

.ant-menu-item,
.ant-menu-submenu {
  font-weight: bold;
}

.ant-menu-item {
  padding: 0 10px;
}
